<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Minneapolis Crime Dashboard</title>

    <!-- Import the Plotly library.  -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!--Import the Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  
    <!-- Leaflet CSS -->   
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />

    <!-- Leaflet JavaScript code -->
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>

     <!-- leaflet-choropleth JavaScript -->
     <script type="text/javascript" src="static/js/choropleth.js"></script>

    <!-- math.js Library -->
    <script src="https://unpkg.com/mathjs@11.2.1/lib/browser/math.js"></script>

   <!-- arraygeous JS Library: library for math on an array -->
    <script src="https://unpkg.com/arraygeous@0.1.24/build/arraygeous.min.js"></script>


    <!-- D3 library -->
    <script src="https://d3js.org/d3.v7.min.js"></script>

 
    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">

  <!-- Title Row -->
        <!-- Title Row -->
        <div class="row h-5 header navbar fixed-top">
            <h2> Minneapolis Crime Dashboard</h2>
            <h5> 2019 - 2022</h5>
        </div>
    <!-- Nav Bar-->
  </head>

  <body>
    <div class="container responsive" id="dashboard">
          <!-- Description Row -->
          <div class="row h-5">
            <p class="description">
              This dashboard contains demographic and crime data visualizations for Minneapolis neighborhoods. 
              The neighborhood demographics are displayed in tabs to the right of the map.
              Below the map you will find a chart showing number of crimes by year and the breakdown of offense types.
              The visualizations displayed when the dashboard first loads are for all of Minneapolis and this data remains on the demographics and total number of crimes charts for easy comparison when a neighborhood is selected.
              You can click on the items in the legends to hide and show the data in the individual visualizations.
              <br>
          </div>
      <!-- Content Row 1: Left column (Map), Righ column (Demographics Charts) -->
      <div class="row h-35">
        <!-- Left column: Map -->
        <div class="col-6">
          <!-- Map Row -->
          <div class="row"> <h6 class="instruction">Click on a neighborhood in the map below to get started:</h6><div id="map"></div> </div> 
        </div>
        <!-- Right column: Demographic Charts -->
        <div class="col-6" id="DemoVisualizations">
          <!-- Rows for Neighborhood name and percent information -->
          <div class="row h-5 Neighborhood" id="Neighborhood"></div>
          <div class="row h-5 Percent" id="Percent"></div>
            <!-- Demographic Charts Nav tabs container -->
            <div class="container">
              <!-- Demograhpic Nav Tabs Definition -->
              <nav>
                <div class="nav nav-tabs" id="nav-tab1" role="tablist">
                  <button class="nav-link active" id="nav-age-tab" data-bs-toggle="tab" type="button" href="#nav-age" role="tab" aria-controls="nav-age" aria-selected="true">Age</button>
                  <button class="nav-link" id="nav-income-tab" data-bs-toggle="tab" type="button" href="#nav-income" role="tab" aria-controls="nav-income" aria-selected="false">Income</button>
                  <button class="nav-link" id="nav-education-tab" data-bs-toggle="tab" type="button" href="#nav-education" role="tab" aria-controls="nav-education" aria-selected="false">Education</button>
                </div>
              </nav>
              <!-- Demograhpic Nav Tab Contents -->
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-age" role="tabpanel" aria-labelledby="nav-age-tab"></div>
                <div class="tab-pane fade" id="nav-income" role="tabpanel" aria-labelledby="nav-income-tab"></div>
                <div class="tab-pane fade" id="nav-education" role="tabpanel" aria-labelledby="nav-education-tab">
                </div>
              </div>
            </div>
          </div>
        </div>
      <!-- Content Row 2: Crime Charts-->
      <div class="row h-45">
        <!-- Crime Charts Nav tabs container -->
        <div class="container">
          <!-- Crime Nav Tabs Definition -->
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a class="nav-link active" id="nav-crime-tab" data-bs-toggle="tab" href="#nav-crime" role="tab" aria-controls="nav-crime" aria-selected="true">Crime Rates</a>
              <a class="nav-link" id="nav-breakdown-tab" data-bs-toggle="tab" href="#nav-breakdown" role="tab" aria-controls="nav-breakdown" aria-selected="false">Crime Breakdown by Offense</a>
            </div>
          </nav>
          <!-- Crime Chart Nav Tab Contents-->
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-crime" role="tabpanel" aria-labelledby="nav-crime-tab"></div>
            <div class="tab-pane fade" id="nav-breakdown" role="tabpanel" aria-labelledby="nav-breakdown-tab"></div>
          </div>
        </div>
      </div>
      <div class="row h-5 footnote">
        <div class="col-8">
        <p>The crime data and map boundaries were gathered from the <a href = "https://www.minneapolismn.gov/" target="_blank" rel="noopener noreferrer">City of Minneapolis</a> and the demographic 
          data is from <a href = "https://www.mncompass.org/" target="_blank" rel="noopener noreferrer">Minnesota Compass</a> (Wilder Research project).</p>
        <p>Note: 2022 data is current through October 13th</p>
      </div>
        <div class="col-4">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">View Data Tables</a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#" target="_blank">Crime Data</a></li>
                    <li><a class="dropdown-item" href="#"target="_blank">Demographic Data</a></li>
                </ul>
            </li>
          </ul>
        </div>
      </div>       
    </div>


    <!-- JavaScript file -->
    <script type="text/javascript" src="static/js/logic.js"></script> 

     <!-- Import the Bootstrap JavaScript code -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

  </body>
</html>