<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Minneapolis Neighborhood Demographics and Crime Data</title>

    <!-- Import the Plotly library.  -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!--Import the Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  
    <!-- Leaflet CSS -->   
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />

    <!-- Leaflet JavaScript code -->
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>

    <!-- D3 library -->
    <script src="https://d3js.org/d3.v7.min.js"></script>

 
    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">

  


  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
            <h1 class="title"> Minneapolis Neighborhood Demographic and Crime Data</h1>
        </div>
        <div class="row">
          <p class="description">Description of the dashboard goes here</p>
        </div>
        <!-- <div class="row">
          <div class="col-6">Dropdown:</div>
          <div class="col-6">
            <select id="selDataset" onchange="optionChanged(this.value)"></select>
          </div>
        </div> -->
        <div class="row h-100">
          <div class="col-8">
            <div class="row h-25" id="map">
            </div>
            <div class="row" id="Crime">
            </div>
            <div class="row" id="CrimeBreakdown">
            </div>
          </div>
          <div class="col-4" id="DemoVisualizations">
            <div class="row Neighborhood" id="Neighborhood">
            </div>
            <div class="row">
              <div class="col h-100" id="Age"></div>
            </div>
            <div class="row">
              <div class="col h-100" id="Income"></div>
            </div>
            <div class="row">
              <div class="col h-100" id="Education"></div>
            </div>
          </div>
        </div>

    <!-- JavaScript file -->
    <script type="text/javascript" src="static/js/logic.js"></script> 

     <!-- Import the Bootstrap JavaScript code -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

  </body>
</html>